.tasks__container {
  display: flex;

  flex-grow: 1;
  margin-bottom: 2rem;
}

.tasks:nth-child(1),
.tasks:nth-child(2) {
  border-right: 1.5px solid rgb(173, 173, 173);
}

.tasks {
  flex: 1;

  padding: 0 2rem 2rem 2rem;
}

.tasks__title {
  text-align: center;
  margin-bottom: 2rem;
}

.tasks__form {
  text-align: center;
}

.tasks__list {
  list-style: inside;
  line-height: 1.5;
}

.tasks__item {
  display: flex;

  color: #505050;
}

.tasks__item-progress {
  color: rgb(112, 160, 112);
}

.tasks__item-completed {
  color: #afafaf;
  text-decoration: line-through;
}

.tasks__item::before {
  content: "\2022";
  color: #6b6b6b;
  margin: 0 5px;
}

.tasks__item .form__edit input {
  background-color: #f5f5f5;
  border-radius: 2px;
  color: #505050;
}

.tasks__item .form__next {
  margin-left: auto;
}

/* New Task */
.tasks__form {
  margin-top: auto;
}

input[type="text"] {
  border: none;
  background: #f5f5f5;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
}

/* Mobile Responsive */

@media only screen and (max-width: 1100px) {
  .tasks__title {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 700px) {
  .tasks__container {
    flex-direction: column;
  }

  .tasks:nth-child(1),
  .tasks:nth-child(2) {
    border-right: none;
  }
}
